.sectionText{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 168.22%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #242424;
    padding-bottom: 30px;
    padding-top: 20px;
}

.card_name{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 144.9%;
    color: #242424;
}

.card_location{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 144.9%;
    display: flex;
    align-items: center;
    color: #484848;
}

.card_price{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    color: #199AD2;
    background: #EFF9FE;
    border: none;
    
}

.card_sale{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 168.22%;
    text-decoration-line: line-through;    
    color: #242424;
    padding-left: 28px;
}
.price{
    background: #EFF9FE;
}

.cardImage{
    height: 180px;
}

.search{
    margin-top: 40px;
    height: 50px;
    background: #FFFFFF;
border: 3px solid #0098DB;
box-shadow: 0px 0px 10px rgba(83, 201, 254, 0.44);
border-radius: 3px;
}

.header_button{
padding: 10px 80px;
background: #FC6341;
border-radius: 3px;
color: #FFFFFF;
border: none;
margin-top: -78px;
margin-left: 1035px;
}

.positiv{
    position: relative;
}